META_ACCESS_TOKEN=
ADLS_CONTAINER_NAME=datalake
ADLS_ACCOUNT_KEY=
ADLS_ACCOUNT_NAME=
AZURE_SQL_PASSWORD=
EVENT_HUBS_CONNECTION_STRING=
EVENTHUB_NAME=
NAMESPACE_EVENTHUB=
ENV=local
UNITY_CATALOG=
UNITY_SCHEMA=ad-pipeline

